.s-c img{
    margin-left: 380px;
    height: 450px;
}
.s-c h2{
    color: rgb(9, 155, 9);
    font-family: sans-serif;
    margin-left: 580px;
    margin-top: -30px;
}
.s-d{
    font-family: sans-serif;
    margin-left: 350px;
}
.back{
    margin-left: 700px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}