<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<header class="navigation-header">
    <nav>
        <div class="logo-container">

            <h2 class="logotext">Book Bus<i class="	fas fa-bus-alt"></i></h2>


        </div>
        <div class="navigation-items" id="navigation-items">
            <a routerLink=""><i class="fas fa-home"></i> Home</a>
            <a routerLink="/booking"><i class="	far fa-calendar-alt"></i> Booking</a>
            <a routerLink="/bus-tickets"><i class="fas fa-bookmark"></i> Tickets</a>
            <a routerLink="/register"><i class="fas fa-user-plus"></i> Signup</a>
            <a routerLink="/login"><i class="fas fa-sign-in-alt "></i> Login</a>
        </div>
        <div class="hamburger">
            <span id="openHam">&#9776;</span>
            <span id="closeHam">&#x2716;</span>
        </div>
    </nav>
</header>