<div class="topcard2"><img src="https://www.colorhexa.com/300465.png" alt="" height="40px" width="1455px" style="margin-left: -50px;margin-top: 10px;"></div>
  


<div class="container card">
 
<div class="container">
    <h3 style="font-size: 25px;font-family: sans-serif;color:#1f0780;text-align: center;">Buses List</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Bus ID</th>
          <th>Bus No</th>
          <th>Bus Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of busArray">
          <td>{{ item.Busid }}</td>
          <td>{{ item.BusNo }}</td>
          <td>{{ item.BusName }}</td>
          <td>
            <button class="btn btn-success edit-btn" (click)="edit_click(item)">Edit</button>
            <button class="btn btn-danger delete-btn" (click)="delete_click(item.Busid)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="box">
        <form [formGroup]="busForm" (ngSubmit)="addOrUpdateData()">
          <input type="number" placeholder="Bus ID" formControlName="Busid" />
          <input type="text" placeholder="Bus No" formControlName="BusNo" />
          <input type="text" placeholder="Bus Name" formControlName="BusName" />
          <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update Data' : 'Add Data' }}</button>
        </form>
      </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<header class="admin-navigation-header">
    <nav>
        <div class="logo-container">
            <h2 class="logotext" style="margin-left: 20px; font-size: 30px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        ">BookBus &nbsp;<i class="fas fa-bus-alt"></i></h2>
        </div>
        <div class="navigation-items" id="navigation-items">
            <a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            <a routerLink="/buslist"><i class="fas fa-bus-alt"></i> Buslist</a>
            <a routerLink="/busschedule"><i class="fas fa-route"></i> Busschedule</a>
            <a routerLink="/userlist"><i class="fas fa-users"></i> Userlist</a>
            <a routerLink="/schedule"><i class="fas fa-calendar-alt"></i> Schedule</a>
            <br><br><br>
            <a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log Out</a>
        </div>
        <div class="hamburger">
            <span id="openHam">&#9776;</span>
            <span id="closeHam">&#x2716;</span>
        </div>
    </nav>
</header>

  
