<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<header class="admin-navigation-header">
    <nav>
        <div class="logo-container">
            <h2 class="logotext" style="margin-left: 20px; font-size: 30px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        ">BookBus &nbsp;<i class="fas fa-bus-alt"></i></h2>
        </div>
        <div class="navigation-items" id="navigation-items">
            <a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            <a routerLink="/buslist"><i class="fas fa-bus-alt"></i> Buslist</a>
            <a routerLink="/busschedule"><i class="fas fa-route"></i> Busschedule</a>
            <a routerLink="/userlist"><i class="fas fa-users"></i> Userlist</a>
            <a routerLink="/schedule"><i class="fas fa-calendar-alt"></i> Schedule</a>
        </div>
        <div class="hamburger">
            <span id="openHam">&#9776;</span>
            <span id="closeHam">&#x2716;</span>
        </div>
    </nav>
</header>
